@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<nav class="crumbs">文章排序：<a href="http://zmingcx.com" rel="nofollow" title="按日期排序"> 日期</a> <a href="http://zmingcx.com/?order=rand" rel="nofollow" title="随机排序">&gt; 随机</a> <a href="http://zmingcx.com/?order=commented" rel="nofollow" title="按评论多少排序">&gt; 评论</a> <a href="http://zmingcx.com/?order=views" rel="nofollow" title="按点击量排序">&gt; 点击</a></nav>
<div id="primary" class="site-content">
    <div id="sticky">
        <article id="post-5924" class="post-5924 post type-post status-publish format-standard sticky hentry category-ality-original tag-ality tag-ality-original tag-wordpress tag-341 tag-617">
            <div class="sticky-box" onmouseout="this.className='sticky-box'" onmouseover="this.className='sticky-box-m'">
                <span class="sticky-ico">荐</span><div class="sticky-main">
                    <header class="sticky-header">
                        <div class="title-heavy"></div>
                        <h2 class="entry-title"><a href="http://zmingcx.com/wordpress-theme-ality.html" rel="bookmark" title="详细阅读 WordPress 主题：Ality">WordPress 主题：Ality</a></h2>
                    </header>
                    <figure class="sticky-thumbnail">
                        <a href="http://zmingcx.com/wordpress-theme-ality.html" rel="bookmark" title="WordPress 主题：Ality">
                            <img class="home-thumb" src="http://zmingcx.com/wp-content/uploads/2014/07/ality.jpg" alt="WordPress 主题：Ality" />
                        </a>
                    </figure>
                    <div class="sticky-entry">
                        主题简介
                        HTML5+CSS3响应式布局，适合不同分辨率设备浏览，集成多种流行元素，图标字体，Retina（视网膜）显示，兼容IE6+、 Firefox、Chrome、Opera、Safari等主流浏览器。
                        WordPress 主题：Ality
                        功能简介▼集...<div class="clear"></div>
                    </div>
                </div>
            </div>
        </article>
        <article id="post-5758" class="post-5758 post type-post status-publish format-standard sticky hentry category-wordpress tag-functions-php tag-wordpress tag-wordpress-course tag-382">
            <div class="sticky-box" onmouseout="this.className='sticky-box'" onmouseover="this.className='sticky-box-m'">
                <span class="sticky-ico">荐</span><div class="sticky-main">
                    <header class="sticky-header">
                        <div class="title-heavy"></div>
                        <h2 class="entry-title"><a href="http://zmingcx.com/wei-wordpress-wen-zhang-zi-dong-tian-jia-zi-ding-yi-lan-mu.html" rel="bookmark" title="详细阅读 为WordPress文章自动添加自定义栏目">为WordPress文章自动添加自定义栏目</a></h2>
                    </header>
                    <figure class="sticky-thumbnail">
                        <a href="http://zmingcx.com/wei-wordpress-wen-zhang-zi-dong-tian-jia-zi-ding-yi-lan-mu.html" rel="bookmark" title="为WordPress文章自动添加自定义栏目">
                            <img src="http://ww4.sinaimg.cn/mw690/703be3b1tw1ei8v2nl9uzj207s05kdft.jpg" alt="为WordPress文章自动添加自定义栏目" />
                        </a>
                    </figure>
                    <div class="sticky-entry">
                        自定义栏目是WordPress 一个非常强大的功能，借助它我们可以实现很多特殊的功能。本文的一段代码可以为文章自动添加预先设置好的自定义栏目名称及值，而无需手动添加。
                        WordPress自定义栏目
                        将下面的代码添加到当...<div class="clear"></div>
                    </div>
                </div>
            </div>
        </article>
        <div class="clear"></div>
    </div>
    <div class="primary-site">
        <article id="post-6164" class="post-6164 post type-post status-publish format-standard hentry category-wordpress tag-html tag-wordpress">
            <section class="content" onmouseout="this.className='content'" onmouseover="this.className='content-m'">
                <span class="new-ico">NEW</span>
                <header class="entry-header">
                    <div class="title-heavy"></div>
                    <h2 class="entry-title"><a href="http://zmingcx.com/webpage-jump-code.html" rel="bookmark" title="详细阅读 网页跳转代码">网页跳转代码</a></h2>
                </header>
                <div class="entry-content">
                    <figure class="thumbnail">
                        <a href="http://zmingcx.com/webpage-jump-code.html" rel="bookmark" title="网页跳转代码">
                            <img class="home-thumb" src="http://ww3.sinaimg.cn/mw690/703be3b1gw1enyg7933ljj20dw094q36.jpg" alt="网页跳转代码" />
                        </a>
                    </figure>
                    <div class="entry-site">
                        网页跳转代码
                        一个简单的网页跳转代码，用于打开Wordpress某篇日志跳转到另一篇日志，比如《申请一个自己的Gravatar头像》这篇教程是很早发表的，已不适合当前，所以又重写了一篇《全球通用头像Gravatar申请教程》，但之前的教程来自搜索的点击量又很高，那么我们可以使用网页跳转代码，将浏览者引导到新教程页面，具体代码：&lt;script language='javascript'&gt;document.location = 'http://zmingcx...<div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="entry-meta">
                        <span class="meta-site">
                            <span class="date"><i class="icon-date"></i>2015年01月05日</span> <span class="cat"><i class="icon-cat"></i><a href="http://zmingcx.com/category/wordpress" rel="category tag">Wordpress</a></span> <span class="comment"><i class="icon-comment"></i><a href="http://zmingcx.com/webpage-jump-code.html#comments" title="《网页跳转代码》上的评论">评论 9 条</a></span> <i class="icon-zan"></i>喜欢
                            4 <span class="views"><i class="icon-views"></i>阅读 124 次</span>
                        </span><span class="entry-more"><a href="http://zmingcx.com/webpage-jump-code.html" rel="bookmark" title="共 383字 阅读全文">阅读全文</a></span>
                    </div>
                </div>
            </section>
        </article>
        <div id="g-posts">
            <div class="g-posts-main g-main" style="text-align: center;">
                <a href="http://idc.wopus.org/" target="_blank">
                    <img src="http://zmingcx.com/wp-content/themes/Ality/img/gg/760.png" alt="博客主机" />
                </a>
            </div>
        </div>
        <article id="post-6143" class="post-6143 post type-post status-publish format-standard hentry category-wpplugins tag-wpplugins tag-wordpress tag-wordpress-course">
            <section class="content" onmouseout="this.className='content'" onmouseover="this.className='content-m'">
                <header class="entry-header">
                    <div class="title-heavy"></div>
                    <h2 class="entry-title"><a href="http://zmingcx.com/velvet-blues-update-urls.html" rel="bookmark" title="详细阅读 WordPress站内链接修改插件：Velvet Blues Update URLs">WordPress站内链接修改插件：Velvet Blues Update URLs</a></h2>
                </header>
                <div class="entry-content">
                    <figure class="thumbnail">
                        <a href="http://zmingcx.com/velvet-blues-update-urls.html" rel="bookmark" title="WordPress站内链接修改插件：Velvet Blues Update URLs">
                            <img class="home-thumb" src="http://ww2.sinaimg.cn/mw690/703be3b1tw1emin7ebcmwj20go0bxmxt.jpg" alt="WordPress站内链接修改插件：Velvet Blues Update URLs" />
                        </a>
                    </figure>
                    <div class="entry-site">
                        WordPress文章和图片附件都是绝对路径，全部保存在数据库中。有朝一日，在更换网站域名之后，你会发现文章链接、图片全部失效了。那么如何将数据库中绝对路径更改为新的呢？
                        WordPress
                        方法一、导出数据库，并打开导出的sql文件，搜索旧域名并替换为新域名，这不是本文准备介绍的，也不是很适合新手。
                        方法二、安装Wordpress站内链接修改插件：Velvet Blues Update URLs
                        插件使用简单，后台----工具-----Up...<div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="entry-meta">
                        <span class="meta-site">
                            <span class="date"><i class="icon-date"></i>2014年11月21日</span> <span class="cat"><i class="icon-cat"></i><a href="http://zmingcx.com/category/wpplugins" rel="category tag">plugins</a></span> <span class="comment"><i class="icon-comment"></i><a href="http://zmingcx.com/velvet-blues-update-urls.html#comments" title="《WordPress站内链接修改插件：Velvet Blues Update URLs》上的评论">评论 34 条</a></span> <i class="icon-zan"></i>喜欢
                            31 <span class="views"><i class="icon-views"></i>阅读 1,659 次</span>
                        </span><span class="entry-more"><a href="http://zmingcx.com/velvet-blues-update-urls.html" rel="bookmark" title="共 440字 阅读全文">阅读全文</a></span>
                    </div>
                </div>
            </section>
        </article>
        <article id="post-6139" class="post-6139 post type-post status-publish format-aside hentry category-ality-original tag-ality-original tag-wordpress">
            <section class="content" onmouseout="this.className='content'" onmouseover="this.className='content-m'">
                <header class="entry-header">
                    <div class="title-heavy">
                        <div class="heavy-l"></div>
                        <div class="heavy-r"></div>
                    </div>
                    <h2 class="entry-title"><a href="http://zmingcx.com/ality-theme-0-32-released.html" rel="bookmark" title="详细阅读 Ality主题 0.32 版发布">Ality主题 0.32 版发布</a></h2>
                </header>
                <div class="entry-content">
                    <div class="entry-site">
                        在没有重大BUG的情况下，Ality主题近期不会再更新。鉴于主题一直在零碎的更新，不可避免又造成代码拖沓，所以准备完全推倒重写主题，为之后制作CMS主题打下好的基础。
                        本次更新内容：添加带缩略图的本站推荐小工具
                        添加喜欢小工具（60天内点击喜欢最多的文章，貌似会与其它小主题小工具有冲突，可以尝试调整上下位置）
                        添加用户注册页面模板
                        登录弹窗增加注册链接
                        CSS样式调整修正
                        修正手动翻页也会出现...<div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="entry-meta">
                        <span class="meta-site">
                            <span class="date"><i class="icon-date"></i>2014年11月20日</span> <span class="cat"><i class="icon-cat"></i><a href="http://zmingcx.com/category/original/ality-original" rel="category tag">Ality主题</a></span> <span class="comment"><i class="icon-comment"></i><a href="http://zmingcx.com/ality-theme-0-32-released.html#comments" title="《Ality主题 0.32 版发布》上的评论">评论 46 条</a></span> <i class="icon-zan"></i>喜欢
                            97 <span class="views"><i class="icon-views"></i>阅读 5,440 次</span>
                        </span><span class="entry-more"><a href="http://zmingcx.com/ality-theme-0-32-released.html" rel="bookmark" title="共 655字 阅读全文">阅读全文</a></span>
                    </div>
                </div>
            </section>
        </article>
        <article id="post-6134" class="post-6134 post type-post status-publish format-standard hentry category-wordpress tag-wordpress">
            <section class="content" onmouseout="this.className='content'" onmouseover="this.className='content-m'">
                <header class="entry-header">
                    <div class="title-heavy"></div>
                    <h2 class="entry-title"><a href="http://zmingcx.com/wordpress-4-1-beta.html" rel="bookmark" title="详细阅读 WordPress 4.1 Beta 1发布">WordPress 4.1 Beta 1发布</a></h2>
                </header>
                <div class="entry-content">
                    <figure class="thumbnail">
                        <a href="http://zmingcx.com/wordpress-4-1-beta.html" rel="bookmark" title="WordPress 4.1 Beta 1发布">
                            <img class="home-thumb" src="http://ww2.sinaimg.cn/mw690/703be3b1tw1emdxdymmzfj20og0icdiz.jpg" alt="WordPress 4.1 Beta 1发布" />
                        </a>
                    </figure>
                    <div class="entry-site">
                        WordPress 4.1 版值得关注的特性：
                        新增默认主题 Twenty Fifteen，是款移动端优先，设计简洁的博客主题。
                        WordPress 4.1 Beta
                        新的编辑器 distraction-free 编写模式，在 beta 版本是默认的；
                        支持在常规设置页面选择安装新语言包；
                        新的在线图像格式化工具栏；
                        开发者应该关注的新特性：
                        改进元数据，日期，评论和分类查询，包括复杂（嵌套，多关系）查询和查询评论类型。
                        主题添加了一个新的，更好的处理...<div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="entry-meta">
                        <span class="meta-site">
                            <span class="date"><i class="icon-date"></i>2014年11月17日</span> <span class="cat"><i class="icon-cat"></i><a href="http://zmingcx.com/category/wordpress" rel="category tag">Wordpress</a></span> <span class="comment"><i class="icon-comment"></i><a href="http://zmingcx.com/wordpress-4-1-beta.html#comments" title="《WordPress 4.1 Beta 1发布》上的评论">评论 20 条</a></span> <i class="icon-zan"></i>喜欢
                            18 <span class="views"><i class="icon-views"></i>阅读 1,439 次</span>
                        </span><span class="entry-more"><a href="http://zmingcx.com/wordpress-4-1-beta.html" rel="bookmark" title="共 529字 阅读全文">阅读全文</a></span>
                    </div>
                </div>
            </section>
        </article>
        <article id="post-6131" class="post-6131 post type-post status-publish format-standard hentry category-wordpress tag-gravatar tag-wordpress">
            <section class="content" onmouseout="this.className='content'" onmouseover="this.className='content-m'">
                <header class="entry-header">
                    <div class="title-heavy"></div>
                    <h2 class="entry-title"><a href="http://zmingcx.com/replace-gravatar-server.html" rel="bookmark" title="详细阅读 替换Gravatar头像默认服务器">替换Gravatar头像默认服务器</a></h2>
                </header>
                <div class="entry-content">
                    <figure class="thumbnail">
                        <a href="http://zmingcx.com/replace-gravatar-server.html" rel="bookmark" title="替换Gravatar头像默认服务器">
                            <img src="http://zmingcx.com/wp-content/uploads/2010/12/show01-1.jpg" alt="替换Gravatar头像默认服务器" />
                        </a>
                    </figure>
                    <div class="entry-site">
                        这几天Gravatar头像服务器应该集体被墙了，头像无法显示。兵来将挡，水来土掩，上有政策，下有对策，和谐社会靠大家，哈。
                        利用多说Gravatar头像中转服务器替代头像默认服务器。
                        将下面代码添加到当前主题functions.php文件中：function mytheme_get_avatar( $avatar ) {
                        $avatar = preg_replace( "/http:\/\/(www|\d).gravatar.com/","http://gravatar.duoshuo.com",$avatar );
                        return $avatar;
                        }
                        add_...<div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="entry-meta">
                        <span class="meta-site">
                            <span class="date"><i class="icon-date"></i>2014年11月15日</span> <span class="cat"><i class="icon-cat"></i><a href="http://zmingcx.com/category/wordpress" rel="category tag">Wordpress</a></span> <span class="comment"><i class="icon-comment"></i><a href="http://zmingcx.com/replace-gravatar-server.html#comments" title="《替换Gravatar头像默认服务器》上的评论">评论 34 条</a></span> <i class="icon-zan"></i>喜欢
                            16 <span class="views"><i class="icon-views"></i>阅读 2,880 次</span>
                        </span><span class="entry-more"><a href="http://zmingcx.com/replace-gravatar-server.html" rel="bookmark" title="共 1489字 阅读全文">阅读全文</a></span>
                    </div>
                </div>
            </section>
        </article>
        <article id="post-6123" class="post-6123 post type-post status-publish format-aside hentry category-wordpress tag-wordpress tag-wordpress-course">
            <section class="content" onmouseout="this.className='content'" onmouseover="this.className='content-m'">
                <header class="entry-header">
                    <div class="title-heavy">
                        <div class="heavy-l"></div>
                        <div class="heavy-r"></div>
                    </div>
                    <h2 class="entry-title"><a href="http://zmingcx.com/shielding-wordpress-useless-items.html" rel="bookmark" title="详细阅读 屏蔽WordPress后台无用项">屏蔽WordPress后台无用项</a></h2>
                </header>
                <div class="entry-content">
                    <div class="entry-site">
                        <p>WordPress 后台很多模块有时并不需要，使用下面的代码可以将它们屏蔽掉。</p>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="entry-meta">
                        <span class="meta-site">
                            <span class="date"><i class="icon-date"></i>2014年11月07日</span> <span class="cat"><i class="icon-cat"></i><a href="http://zmingcx.com/category/wordpress" rel="category tag">Wordpress</a></span> <span class="comment"><i class="icon-comment"></i><a href="http://zmingcx.com/shielding-wordpress-useless-items.html#comments" title="《屏蔽WordPress后台无用项》上的评论">评论 28 条</a></span> <i class="icon-zan"></i>喜欢
                            13 <span class="views"><i class="icon-views"></i>阅读 1,333 次</span>
                        </span><span class="entry-more"><a href="http://zmingcx.com/shielding-wordpress-useless-items.html" rel="bookmark" title="共 3224字 阅读全文">阅读全文</a></span>
                    </div>
                </div>
            </section>
        </article>
        <article id="post-6116" class="post-6116 post type-post status-publish format-standard hentry category-wordpress tag-gravatar tag-hotnews tag-wordpress">
            <section class="content" onmouseout="this.className='content'" onmouseover="this.className='content-m'">
                <header class="entry-header">
                    <div class="title-heavy"></div>
                    <h2 class="entry-title"><a href="http://zmingcx.com/gravatar-avatar-apply.html" rel="bookmark" title="详细阅读 全球通用头像Gravatar申请教程">全球通用头像Gravatar申请教程</a></h2>
                </header>
                <div class="entry-content">
                    <figure class="thumbnail">
                        <a href="http://zmingcx.com/gravatar-avatar-apply.html" rel="bookmark" title="全球通用头像Gravatar申请教程">
                            <img class="home-thumb" src="http://zmingcx.com/wp-content/uploads/2014/11/gravatar.jpg" alt="全球通用头像Gravatar申请教程" />
                        </a>
                    </figure>
                    <div class="entry-site">
                        百度百科：我们在很多博客或者网站留言，评论的时候会看到有的人头像很酷很个性化，但是这个博客和网站本身并没有提供设置头像的功能，感觉有点神奇，那么是怎么做到的呢？其实这是使用了Gravatar。
                        是Globally Recognized Avatar的缩写，是gravatar推出的一项服务，意为“全球通用头像”。如果在Gravatar的服务器上放置了你自己的头像，那么在任何支持Gravatar的blog或者留言本上留言时，只要提供你与这个头...<div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="entry-meta">
                        <span class="meta-site">
                            <span class="date"><i class="icon-date"></i>2014年11月05日</span> <span class="cat"><i class="icon-cat"></i><a href="http://zmingcx.com/category/wordpress" rel="category tag">Wordpress</a></span> <span class="comment"><i class="icon-comment"></i><a href="http://zmingcx.com/gravatar-avatar-apply.html#comments" title="《全球通用头像Gravatar申请教程》上的评论">评论 37 条</a></span> <i class="icon-zan"></i>喜欢
                            14 <span class="views"><i class="icon-views"></i>阅读 1,130 次</span>
                        </span><span class="entry-more"><a href="http://zmingcx.com/gravatar-avatar-apply.html" rel="bookmark" title="共 1547字 阅读全文">阅读全文</a></span>
                    </div>
                </div>
            </section>
        </article>
        <article id="post-6115" class="post-6115 post type-post status-publish format-standard hentry category-wordpress tag-wordpress tag-wordpress-course">
            <section class="content" onmouseout="this.className='content'" onmouseover="this.className='content-m'">
                <header class="entry-header">
                    <div class="title-heavy"></div>
                    <h2 class="entry-title"><a href="http://zmingcx.com/5-wordpress-backend-options-framework.html" rel="bookmark" title="详细阅读 推荐5 款WordPress主题后台选项开发框架">推荐5 款WordPress主题后台选项开发框架</a></h2>
                </header>
                <div class="entry-content">
                    <figure class="thumbnail">
                        <a href="http://zmingcx.com/5-wordpress-backend-options-framework.html" rel="bookmark" title="推荐5 款WordPress主题后台选项开发框架">
                            <img src="http://ww1.sinaimg.cn/mw690/703be3b1tw1elzylxz7ruj207s05kaa6.jpg" alt="推荐5 款WordPress主题后台选项开发框架" />
                        </a>
                    </figure>
                    <div class="entry-site">
                        在开发WordPress 主题的时候，借用成熟的WordPress 主题后台选项开发框架可以为我们省下不少功夫。相信你接触过不少国人做的所谓“原创”主题，一看后台都是千篇一律的界面（连CSS 都懒得改一下），这样所谓的“原创”主题也只能骗骗小白。今天为大家介绍5 款国外前沿的WordPress主题后台选项开发框架，如果你是WordPress 开发者，对你一定有帮助。
                        本文部分介绍文字由DeveWork.com 的Jeff 翻译自 WPexplore，...<div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="entry-meta">
                        <span class="meta-site">
                            <span class="date"><i class="icon-date"></i>2014年11月05日</span> <span class="cat"><i class="icon-cat"></i><a href="http://zmingcx.com/category/wordpress" rel="category tag">Wordpress</a></span> <span class="comment"><i class="icon-comment"></i><a href="http://zmingcx.com/5-wordpress-backend-options-framework.html#comments" title="《推荐5 款WordPress主题后台选项开发框架》上的评论">评论 10 条</a></span> <i class="icon-zan"></i>喜欢
                            7 <span class="views"><i class="icon-views"></i>阅读 1,001 次</span>
                        </span><span class="entry-more"><a href="http://zmingcx.com/5-wordpress-backend-options-framework.html" rel="bookmark" title="共 1413字 阅读全文">阅读全文</a></span>
                    </div>
                </div>
            </section>
        </article>
        <article id="post-6114" class="post-6114 post type-post status-publish format-standard hentry category-wordpress tag-wordpress tag-wordpress-course">
            <section class="content" onmouseout="this.className='content'" onmouseover="this.className='content-m'">
                <header class="entry-header">
                    <div class="title-heavy"></div>
                    <h2 class="entry-title"><a href="http://zmingcx.com/wordpress-backend-options-framework.html" rel="bookmark" title="详细阅读 WordPress主题后台选项框架">WordPress主题后台选项框架</a></h2>
                </header>
                <div class="entry-content">
                    <figure class="thumbnail">
                        <a href="http://zmingcx.com/wordpress-backend-options-framework.html" rel="bookmark" title="WordPress主题后台选项框架">
                            <img src="http://ww2.sinaimg.cn/mw690/703be3b1tw1elzylxexvpj207s05kmxe.jpg" alt="WordPress主题后台选项框架" />
                        </a>
                    </figure>
                    <div class="entry-site">
                        许多流行的WordPress主题的核心都有一个强大的主题选项面板，便于非开发人员调整主题各项设置。下面这些具有友好用户界面免费的WordPress主题后台选项框架，方便WordPress主题开发者编写自己强大的主题控制选项。
                        &nbsp;
                        WordPress Theme CustomizerThis is an awesome option since it’s built right into WordPress! The WordPress Theme Customizer makes it easy for users to make personalization...<div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="entry-meta">
                        <span class="meta-site">
                            <span class="date"><i class="icon-date"></i>2014年11月05日</span> <span class="cat"><i class="icon-cat"></i><a href="http://zmingcx.com/category/wordpress" rel="category tag">Wordpress</a></span> <span class="comment"><i class="icon-comment"></i><a href="http://zmingcx.com/wordpress-backend-options-framework.html#comments" title="《WordPress主题后台选项框架》上的评论">评论 2 条</a></span> <i class="icon-zan"></i>喜欢
                            2 <span class="views"><i class="icon-views"></i>阅读 586 次</span>
                        </span><span class="entry-more"><a href="http://zmingcx.com/wordpress-backend-options-framework.html" rel="bookmark" title="共 5841字 阅读全文">阅读全文</a></span>
                    </div>
                </div>
            </section>
        </article>
        <article id="post-6014" class="post-6014 post type-post status-publish format-standard hentry category-ality-original tag-ality-original tag-341 tag-523">
            <section class="content" onmouseout="this.className='content'" onmouseover="this.className='content-m'">
                <header class="entry-header">
                    <div class="title-heavy"></div>
                    <h2 class="entry-title"><a href="http://zmingcx.com/ality-themes-faq.html" rel="bookmark" title="详细阅读 Ality主题常见问题">Ality主题常见问题</a></h2>
                </header>
                <div class="entry-content">
                    <figure class="thumbnail">
                        <a href="http://zmingcx.com/ality-themes-faq.html" rel="bookmark" title="Ality主题常见问题">
                            <img class="home-thumb" src="http://zmingcx.com/wp-content/uploads/2014/11/faq1.jpg" alt="Ality主题常见问题" />
                        </a>
                    </figure>
                    <div class="entry-site">
                        常见问题
                        前言：本人一直很乐于助人，但回答众多新手返来复去的提问耗费大量精力，另外大家都不喜欢看主题使用说明，偏偏喜欢不耻下问，也真是让人无语....除去在主题使用说明中已有详细说明的问题，大部分与主题无关，都是些Wordpress的基本知识和使用方法。虽然如此，有时间还是会 耐心给予回复，不过重复问题太多，归纳到一篇文章中，方便大家参阅。您也可在本页留言提交BUG，帮助完善主题。
                        另外，针对...<div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="entry-meta">
                        <span class="meta-site">
                            <span class="date"><i class="icon-date"></i>2014年11月04日</span> <span class="cat"><i class="icon-cat"></i><a href="http://zmingcx.com/category/original/ality-original" rel="category tag">Ality主题</a></span> <span class="comment"><i class="icon-comment"></i><a href="http://zmingcx.com/ality-themes-faq.html#comments" title="《Ality主题常见问题》上的评论">评论 117 条</a></span> <i class="icon-zan"></i>喜欢
                            44 <span class="views"><i class="icon-views"></i>阅读 3,105 次</span>
                        </span><span class="entry-more"><a href="http://zmingcx.com/ality-themes-faq.html" rel="bookmark" title="共 2668字 阅读全文">阅读全文</a></span>
                    </div>
                </div>
            </section>
        </article>
        <nav id="nav-below">
            <div class="nav-next"></div>
            <div class="nav-previous"><a href="http://zmingcx.com/page/2">下一页</a></div>
        </nav>
    </div>
    <nav id="pagenavi"><span class='page-numbers current'>1</span><a class='page-numbers' href='http://zmingcx.com/page/2' title='第 2 页'>2</a><a class='page-numbers' href='http://zmingcx.com/page/3' title='第 3 页'>3</a><a class='page-numbers' href='http://zmingcx.com/page/4' title='第 4 页'>4</a><span class="pages">...</span><a class='page-numbers' href='http://zmingcx.com/page/42' title='最后一页'>42</a><a class='page-numbers' href='http://zmingcx.com/page/2' title='下页'>下页</a></nav>
</div>
<div id="sidebar" class="widget-area">
    <aside id="hot_post-9" class="widget widget_hot_post">
        <h3 class="widget-title">
            <p><i class="icon-st"></i></p>
            热门文章
        </h3>
        <div id="hot_post_widget">
            <ul>
                <li><span class='li-icon li-icon-1'>1</span><a href="http://zmingcx.com/ality-theme-0-32-released.html">Ality主题 0.32 版发布</a></li>
                <li><span class='li-icon li-icon-2'>2</span><a href="http://zmingcx.com/replace-gravatar-server.html">替换Gravatar头像默认服务器</a></li>
                <li><span class='li-icon li-icon-3'>3</span><a href="http://zmingcx.com/velvet-blues-update-urls.html">WordPress站内链接修改插件：Velve...</a></li>
                <li><span class='li-icon li-icon-4'>4</span><a href="http://zmingcx.com/wordpress-4-1-beta.html">WordPress 4.1 Beta 1发布</a></li>
                <li><span class='li-icon li-icon-5'>5</span><a href="http://zmingcx.com/shielding-wordpress-useless-items.html">屏蔽WordPress后台无用项</a></li>
                <li><span class='li-icon li-icon-6'>6</span><a href="http://zmingcx.com/miley-cyrus-wrecking-ball.html">Miley Cyrus-Wrecking Ball</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </aside>
    <aside id="hot_commend-4" class="widget widget_hot_commend">
        <h3 class="widget-title">
            <p><i class="icon-st"></i></p>
            本站推荐
        </h3>
        <div id="hot" class="hot_commend">
            <ul>
                <li>
                    <figure class="thumbnail">
                        <a href="http://zmingcx.com/wordpress-theme-individuation.html" rel="bookmark" title="使用WordPress子主题保留个性化修改">
                            <img src="http://ww3.sinaimg.cn/mw690/703be3b1tw1ei8ug2ihmdj207s05kq32.jpg" alt="使用WordPress子主题保留个性化修改" />
                        </a>
                    </figure>
                    <div class="hot-title"><a href="http://zmingcx.com/wordpress-theme-individuation.html" rel="bookmark" title="使用WordPress子主题保留个性化修改">使用WordPress子主题保留个性化修改</a></div>
                    <div class="views"><i class="icon-views"></i>阅读 1,893 次</div>
                </li>
                <li>
                    <figure class="thumbnail">
                        <a href="http://zmingcx.com/ality-themes-faq.html" rel="bookmark" title="Ality主题常见问题">
                            <img class="home-thumb" src="http://zmingcx.com/wp-content/uploads/2014/11/faq1.jpg" alt="Ality主题常见问题" />
                        </a>
                    </figure>
                    <div class="hot-title"><a href="http://zmingcx.com/ality-themes-faq.html" rel="bookmark" title="Ality主题常见问题">Ality主题常见问题</a></div>
                    <div class="views"><i class="icon-views"></i>阅读 3,105 次</div>
                </li>
                <li>
                    <figure class="thumbnail">
                        <a href="http://zmingcx.com/wordpress-theme-ality.html" rel="bookmark" title="WordPress 主题：Ality">
                            <img class="home-thumb" src="http://zmingcx.com/wp-content/uploads/2014/07/ality.jpg" alt="WordPress 主题：Ality" />
                        </a>
                    </figure>
                    <div class="hot-title"><a href="http://zmingcx.com/wordpress-theme-ality.html" rel="bookmark" title="WordPress 主题：Ality">WordPress 主题：Ality</a></div>
                    <div class="views"><i class="icon-views"></i>阅读 76,168 次</div>
                </li>
                <li>
                    <figure class="thumbnail">
                        <a href="http://zmingcx.com/replace-gravatar-server.html" rel="bookmark" title="替换Gravatar头像默认服务器">
                            <img src="http://zmingcx.com/wp-content/uploads/2010/12/show01-1.jpg" alt="替换Gravatar头像默认服务器" />
                        </a>
                    </figure>
                    <div class="hot-title"><a href="http://zmingcx.com/replace-gravatar-server.html" rel="bookmark" title="替换Gravatar头像默认服务器">替换Gravatar头像默认服务器</a></div>
                    <div class="views"><i class="icon-views"></i>阅读 2,880 次</div>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="clear"></div>
    </aside>
    <aside id="categories-8" class="widget widget_categories">
        <h3 class="widget-title">
            <p><i class="icon-st"></i></p>
            分类目录
        </h3>
        <ul>
            <li class="cat-item cat-item-725"><a href="http://zmingcx.com/category/original/ality-original">Ality主题</a></li>
            <li class="cat-item cat-item-11"><a href="http://zmingcx.com/category/original/hotnewspor" title="HotNews主题相关的文章">HotNews主题</a></li>
            <li class="cat-item cat-item-3"><a href="http://zmingcx.com/category/photoshop" title="photoshop">Photoshop</a></li>
            <li class="cat-item cat-item-8"><a href="http://zmingcx.com/category/wpplugins" title="推荐功能不错的WP插件">plugins</a></li>
            <li class="cat-item cat-item-7"><a href="http://zmingcx.com/category/wordpresstheme" title="Wordpress主题">Themes</a></li>
            <li class="cat-item cat-item-5"><a href="http://zmingcx.com/category/webdesign" title="分享Web前端设计理念及技术">Web前端</a></li>
            <li class="cat-item cat-item-6"><a href="http://zmingcx.com/category/wordpress" title="记录分享WP使用经验和技巧">Wordpress</a></li>
            <li class="cat-item cat-item-10"><a href="http://zmingcx.com/category/original">原创主题</a></li>
            <li class="cat-item cat-item-277"><a href="http://zmingcx.com/category/skill">实用技巧</a></li>
            <li class="cat-item cat-item-9"><a href="http://zmingcx.com/category/utility-software" title="推荐一些实用工具软件">实用软件</a></li>
            <li class="cat-item cat-item-658"><a href="http://zmingcx.com/category/digital">数码硬件</a></li>
            <li class="cat-item cat-item-12"><a href="http://zmingcx.com/category/information" title="转载一些有价值的网文资讯">网文资讯</a></li>
            <li class="cat-item cat-item-4"><a href="http://zmingcx.com/category/uidesign" title="搜刮来的设计资源">设计资源</a></li>
            <li class="cat-item cat-item-1"><a href="http://zmingcx.com/category/gossip" title="一些闲言琐碎的东西">闲言碎语</a></li>
        </ul>
        <div class="clear"></div>
    </aside>
    <aside id="recent_comments-8" class="widget widget_recent_comments">
        <h3 class="widget-title">
            <p><i class="icon-st"></i></p>
            近期评论
        </h3>
        <div id="message" class="message-widget">
            <ul>
                <li>
                    <a href="http://zmingcx.com/suizhong-million-seaside-tourist-town-accommodation-only-anchor-bay-huen-crane-house.html#comment-52655" title="发表在 > 绥中县万家镇海滨旅游住宿欢迎到止锚湾萱鹤楼">
                        <img alt='' src='http://zmingcx.com/wp-content/glc_cache/7f6628f36e753457e4c799c0034bb17c-64.jpg' class='avatar avatar-64 photo' height='64' width='64' />
                        <span class="comment_author"><strong>水晶吊坠</strong></span> 流口水有木有
                    </a>
                </li>
                <li>
                    <a href="http://zmingcx.com/webpage-jump-code.html#comment-52654" title="发表在 > 网页跳转代码">
                        <img alt='' src='http://zmingcx.com/wp-content/glc_cache/2ff15aa7c32dd618090b2ac78e0bb0e5-64.jpg' class='avatar avatar-64 photo' height='64' width='64' />
                        <span class="comment_author"><strong>flash教程</strong></span> js的直接跳转，这样传递不了权重吧。
                    </a>
                </li>
                <li>
                    <a href="http://zmingcx.com/shielding-wordpress-useless-items.html#comment-52653" title="发表在 > 屏蔽WordPress后台无用项">
                        <img alt='' src='http://zmingcx.com/wp-content/glc_cache/c829c324172ffef170fd8cbd591e4d55-64.jpg' class='avatar avatar-64 photo' height='64' width='64' />
                        <span class="comment_author"><strong>韶华逝尽</strong></span> 鸟哥威武~
                        <img src="http://zmingcx.com/wp-includes/images/smilies/icon_lol.gif" alt=":lol:" class="wp-smiley" />
                    </a>
                </li>
                <li>
                    <a href="http://zmingcx.com/webpage-jump-code.html#comment-52652" title="发表在 > 网页跳转代码">
                        <img alt='' src='http://zmingcx.com/wp-content/glc_cache/4e2c68116eabdb86f150438f39b46040-64.jpg' class='avatar avatar-64 photo' height='64' width='64' />
                        <span class="comment_author"><strong>购物生活好店品</strong></span> 这个看着还是比较实用的，特别是需要经常修改文章的童鞋。
                    </a>
                </li>
                <li>
                    <a href="http://zmingcx.com/webpage-jump-code.html#comment-52651" title="发表在 > 网页跳转代码">
                        <img alt='' src='http://zmingcx.com/wp-content/glc_cache/f34e2fc1df3f7c2c1bf34c4c28a2ba58-64.jpg' class='avatar avatar-64 photo' height='64' width='64' />
                        <span class="comment_author"><strong>萝卜头</strong></span> 鸟哥，又复活了，好久没看到你更新博客了。另ality有无新版啊，现在版本首页点击管理无法跳转到后台管理页面哦，期待中。。。。
                    </a>
                </li>
                <li>
                    <a href="http://zmingcx.com/shielding-wordpress-useless-items.html#comment-52650" title="发表在 > 屏蔽WordPress后台无用项">
                        <img alt='' src='http://zmingcx.com/wp-content/glc_cache/377569148955a8efcc31b29fa5798894-64.jpg' class='avatar avatar-64 photo' height='64' width='64' />
                        <span class="comment_author"><strong>凯凯</strong></span> 请问博主，后台【活动】这个模块如何屏蔽？
                    </a>
                </li>
                <li>
                    <a href="http://zmingcx.com/webpage-jump-code.html#comment-52649" title="发表在 > 网页跳转代码">
                        <img alt='' src='http://zmingcx.com/wp-content/glc_cache/7b91bef2877884b418437c3f19a0430e-64.jpg' class='avatar avatar-64 photo' height='64' width='64' />
                        <span class="comment_author"><strong>厦门微信营销</strong></span> 来支持博主！！
                    </a>
                </li>
                <li>
                    <a href="http://zmingcx.com/wordpress-theme-ality.html#comment-52648" title="发表在 > WordPress 主题：Ality">
                        <img alt='' src='http://zmingcx.com/wp-content/glc_cache/d6c3971032f24dd1e1c81b023302e2bd-64.jpg' class='avatar avatar-64 photo' height='64' width='64' />
                        <span class="comment_author"><strong>figo</strong></span> 推荐阅读小工具不显示，把文章设置置顶依旧不显示
                    </a>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </aside>
    <div class="sidebar-roll">
        <aside id="search-7" class="widget widget_search">
            <div id="searchbar">
                <form method="get" id="searchform" action="http://zmingcx.com/">
                    <div>
                        <input type="text" value="" name="s" id="s" placeholder="输入搜索内容" required />
                        <input type="submit" id="searchsubmit" value="搜索" />
                    </div>
                </form>
            </div>
            <div class="clear"></div>
        </aside>
        <aside id="like_most-2" class="widget widget_like_most">
            <h3 class="widget-title">
                <p><i class="icon-st"></i></p>
                大家喜欢
            </h3>
            <div id="like" class="like_most">
                <ul>
                    <li><a href="http://zmingcx.com/ality-theme-0-32-released.html" rel="bookmark" title="Ality主题 0.32 版发布"><i class="icon-li"></i>Ality主题 0.32 版发布</a></li>
                    <li><a href="http://zmingcx.com/velvet-blues-update-urls.html" rel="bookmark" title="WordPress站内链接修改插件：Velvet Blues Update URLs"><i class="icon-li"></i>WordPress站内链接修改插件：Velvet Blues Update URLs</a></li>
                    <li><a href="http://zmingcx.com/wordpress-4-1-beta.html" rel="bookmark" title="WordPress 4.1 Beta 1发布"><i class="icon-li"></i>WordPress 4.1 Beta 1发布</a></li>
                    <li><a href="http://zmingcx.com/replace-gravatar-server.html" rel="bookmark" title="替换Gravatar头像默认服务器"><i class="icon-li"></i>替换Gravatar头像默认服务器</a></li>
                    <li><a href="http://zmingcx.com/shielding-wordpress-useless-items.html" rel="bookmark" title="屏蔽WordPress后台无用项"><i class="icon-li"></i>屏蔽WordPress后台无用项</a></li>
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="clear"></div>
        </aside>
        <aside id="text-20" class="widget widget_text">
            <div class="textwidget">
                <div class="ad">
                    <div class="ads_c">
                        <div class="droplist" id="lrtk">
                            <dl>
                                <dt>
                                    <p>WordPress CMS主题：HotNews Pro Plus</p>
                                </dt>
                                <dd>
                                    <a class="hot" href="http://zmingcx.com/wordpress-theme-hotnewspro.html" target="_blank" title="HotNews Pro Plus">
                                        <img src="http://zmingcx.com/wp-content/uploads/2014/11/themead-1.jpg">
                                    </a>
                                </dd>
                                <dt>
                                    <p>WordPress 主题：Ality</p>
                                </dt>
                                <dd style="display: none">
                                    <a class="hot" href="http://zmingcx.com/wordpress-theme-ality.html" target="_blank" title="WordPress 主题：Ality">
                                        <img src="http://zmingcx.com/wp-content/uploads/2014/11/themead-2.jpg">
                                    </a>
                                </dd>
                            </dl>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <script type="text/javascript">
                    $.fn.extend({
                        adadvance: function () {
                            var listobj = this;
                            var objs = $('dt', this);
                            var view = objs.length - 1;
                            objs.each(function (i) {
                                $(this).mouseover(function () { $('dd', listobj).hide(); $('.droplist-hover', listobj).attr("class", ""); $("dd a").fadeIn(1000); $(this).children("p").attr("class", "droplist-hover"); $(this).next().show() })
                                if (i != view) {
                                    $(this).next().hide();
                                }
                                else {
                                    $(this).next().show();
                                    $(this).children("p").attr("class", "droplist-hover");
                                }
                            });
                        }
                    });</script>
                <script type="text/javascript">$('#lrtk').adadvance();</script>
            </div>
            <div class="clear"></div>
        </aside>
    </div>
</div>
<div class="clear"></div>
<div id="links">
    <ul>
        <li><a href="http://www.dntk.org/" title="电脑天空,收集OEM XP系统,WIN7系统,免费软件,破解软件,单机游戏,网游服务端,电脑知识">电脑天空</a></li>
        <li><a href="http://chenxuehu.com/" title="陈学虎的小窝" target="_blank">陈学虎的小窝</a></li>
        <li><a href="http://www.shenmet.net/" title="中铝沈加" target="_blank">shenmet</a></li>
        <li><a href="http://reeoo.com/" target="_blank">网页设计</a></li>
        <li><a href="http://www.bbpresschina.com/" title="bbpress中文" target="_blank">bbpress中文</a></li>
        <li><a href="http://www.i7086.com/" target="_blank">七零八落</a></li>
        <li><a href="http://www.ebtcn.net" title="Kam 的个人博客" target="_blank">Kam&#039;s Blog</a></li>
        <li><a href="http://www.woniu778.com/" target="_blank">小蜗牛</a></li>
        <li><a href="http://www.xuanhelou.com/">萱鹤楼</a></li>
        <li><a href="http://www.52digital.com" title="我爱数码网" target="_blank">我爱数码网</a></li>
        <li><a href="http://www.win7en.com/" title="网络动态、主题美化、升级指导、win7使用教程" target="_blank">win7en乐园</a></li>
        <li><a href="http://www.goldendragonart.com/" title="金龙手工艺">金龙手工艺</a></li>
        <li><a href="http://www.metals7.com/" title="宇航金属" target="_blank">宇航金属</a></li>
        <li><a href="http://huli.it/" title="关注Web、Wordpress、Google、淘宝的生活博客">狐狸博客</a></li>
        <li><a href="http://429006.com/" title="操作系统和网络技术研究" target="_blank">Pop&#039;s Blog</a></li>
        <li><a href="http://www.t4x.org/">Byrd&#039;s Weblog</a></li>
        <li><a href="http://www.yalanbooks.net/" title="黑摄会＂妖女＂" target="_blank">雅岚</a></li>
        <li><a href="http://www.myscope.cn/" title="让所有温暖的文字都能够被聆听" target="_blank">蚂蚁视界</a></li>
        <li><a href="http://scmbob.org/" title="扛一肩记忆——就算失望，不能" target="_blank">扛一肩记忆</a></li>
        <li><a href="http://zmingcx.com/links" title="友情链接">更多链接</a></li>
    </ul>
    <div class="clear"></div>
</div>
@section footer{
    <script type="text/javascript">
        document.onkeydown = chang_page;
        function chang_page(e) {
            var e = e || event,
            keycode = e.which || e.keyCode;
            if (keycode == 33 || keycode == 37)
                location = 'http://zmingcx.com/';
            if (keycode == 34 || keycode == 39)
                location = 'http://zmingcx.com/page/2';
        }
    </script>
    <script type='text/javascript' src='http://zmingcx.com/wp-content/themes/Ality/js/jquery.sidr.min.js?ver=1.2.1'></script>
    <script type='text/javascript' src='http://zmingcx.com/wp-content/themes/Ality/js/jquery.infinitescroll.min.js?ver=2.0.2'></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var infinite_scroll = {
                loading: {
                    img: "http://zmingcx.com/wp-content/themes/Ality/img/loading.gif",
                    msgText: "",
                    finishedMsg: "木有了！"
                },
                nextSelector: "#nav-below .nav-previous a",
                navSelector: "#nav-below",
                itemSelector: "article",
                maxPage: "7",
                contentSelector: ".primary-site"
            };
            $(infinite_scroll.contentSelector).infinitescroll(infinite_scroll);
        });
    </script>

}

