<div class="authorbio">
    <img alt='' src='@Url.Content("~/Images/icon64.jpg")' class='avatar avatar-64 photo' height='64' width='64' /><ul class="spostinfo">
        <li><strong>版权声明：</strong>本站原创文章，由<a href="http://codegrpup.cn/sunsa" title="由代码团发布" rel="author">代码团</a>发表在<a href="http://zmingcx.com/category/utility-software" rel="category tag">实用软件</a>分类下，于2014年11月26日最后更新</li>
        <li><strong>转载请注明：</strong><a href="http://zmingcx.com/8-jailbreak-ios-plugin.html" rel="bookmark" title="本文固定链接 http://zmingcx.com/8-jailbreak-ios-plugin.html">iOS 8 越狱插件 | 代码团</a><a href="#" onclick="copy_code('http://zmingcx.com/8-jailbreak-ios-plugin.html'); return false;"> +复制链接</a></li>
    </ul>
</div>