<!DOCTYPE html>

<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0, user-scalable=yes">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link href="~/Content/css/autoptimize.css" rel="stylesheet" />

    <title>代码团 | 我的代码我的团</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="shortcut icon" href="~/favicon.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="~/favicon.ico" />
    <link rel="profile" href="#">
    <link rel="pingback" href="#">

    <!--[if lt IE 9]><script  type="text/javascript"  src="~/Scripts/html5shiv.min.js"></script></script><![endif]-->
    <!--[if lt IE 8]><link  rel="stylesheet" href="~/Content/css/ie7.css" /><![endif]-->
    <!--[if lt IE 7]><script type="text/javascript" src="~/Scripts/ie6.js"></script><![endif]-->
    <script type='text/javascript' src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script type='text/javascript' src="~/Scripts/script.js"></script>
</head>
<body class="home blog">
    <div id="page" class="page-site">
        <div id="header-top">
            <nav id="top-nav" class="main-nav">
                <div class="home_h"><i class="icon-home_h"><a href="http://zmingcx.com" title="返回首页"></a></i></div>
                <div class="menu-%e9%a1%b6%e9%83%a8-container">
                    <ul id="menu-%e9%a1%b6%e9%83%a8" class="menu">
                        <li id="menu-item-5887" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5887"><a href="http://zmingcx.com/category/wordpress">技术分享</a><ul class="sub-menu">
                            <li id="menu-item-5871" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5871"><a href="http://zmingcx.com/category/wpplugins">plugins</a></li>
                            <li id="menu-item-5868" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5868"><a href="http://zmingcx.com/category/wordpress">WordPress</a></li>
                        </ul>
                        </li>
                        <li id="menu-item-5954" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-5954"><a href="http://zmingcx.com/category/original">原创主题</a><ul class="sub-menu">
                            <li id="menu-item-5869" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5869"><a href="http://zmingcx.com/category/original/hotnewspor">HotNews主题</a></li>
                        </ul>
                        </li>
                        <li id="menu-item-5963" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5963"><a href="http://zmingcx.com/archives">文章归档</a></li>
                        <li id="menu-item-5883" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5883"><a href="http://zmingcx.com/guestbook">最近留言</a><ul class="sub-menu">
                            <li id="menu-item-6101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6101"><a href="http://zmingcx.com/links">友情链接</a></li>
                        </ul>
                        </li>
                        <li id="menu-item-5898" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5898"><a href="http://zmingcx.com/contact">联系方式</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </nav>
        </div>
        <div id="simple-top"><a id="simple-menu" href="#sidr"><i class="icon-simple-menu"></i></a></div>
        <header id="header">
            <div class="header-clear"></div>
            <div class="main-header">
                <hgroup class="logo-main">
                    <a href="http://zmingcx.com/" rel="home" title="代码团">
                        <h1 class="logo">代码团</h1>
                    </a>
                </hgroup>
                <div id="set-main">
                    <div id="nav-search"><a class="menu-search" href="#">搜索</a></div>
                    <div id="nav-login"><a href="#login" class="flatbtn" id="login-main">登录</a></div>
                </div>
            </div>
            <div class="clear"></div>
            <nav id="site-nav" class="main-nav">
                <div class="menu-%e4%b8%bb%e5%af%bc%e8%88%aa-container">
                    <ul id="menu-%e4%b8%bb%e5%af%bc%e8%88%aa" class="menu">
                        <li id="menu-item-5877" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-5877"><a href="http://zmingcx.com/category/uidesign">设计资源</a><ul class="sub-menu">
                            <li id="menu-item-5876" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5876"><a href="http://zmingcx.com/category/photoshop">Photoshop</a></li>
                        </ul>
                        </li>
                        <li id="menu-item-5874" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5874"><a href="http://zmingcx.com/category/webdesign">Web前端</a></li>
                        <li id="menu-item-5873" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5873"><a href="http://zmingcx.com/category/utility-software">实用软件</a></li>
                        <li id="menu-item-5872" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5872"><a href="http://zmingcx.com/category/information">网文资讯</a></li>
                        <li id="menu-item-5875" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5875"><a href="http://zmingcx.com/category/skill">实用技巧</a></li>
                        <li id="menu-item-5881" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5881"><a rel="nofollow" href="http://www.wopus.org/">博客平台</a><ul class="sub-menu">
                            <li id="menu-item-5878" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5878"><a target="_blank" rel="nofollow" href="http://themes.wopus.org/">主题下载</a></li>
                            <li id="menu-item-5880" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5880"><a target="_blank" rel="nofollow" href="http://faq.wopus.org/">Wopus问答</a></li>
                            <li id="menu-item-5879" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5879"><a target="_blank" rel="nofollow" href="http://idc.wopus.org/">博客主机</a></li>
                            <li id="menu-item-5885" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5885"><a target="_blank" href="http://zmingcx.com/coderender">代码高亮</a></li>
                        </ul>
                        </li>
                    </ul>
                </div>
                <ul>
                    <li class="fill"></li>
                </ul>
            </nav>
            <div class="clear"></div>
        </header>
        <div id="main" class="wrapper">
            <div id="search-main">
                <div id="searchbar">
                    <form method="get" id="searchform" action="http://zmingcx.com/">
                        <div>
                            <input type="text" value="" name="s" id="s" placeholder="输入搜索内容" required />
                            <input type="submit" id="searchsubmit" value="搜索" />
                        </div>
                    </form>
                </div>
                <form action="http://zhannei.baidu.com/cse/search" target="_blank">
                    <input type="hidden" value="2817554795023086482" name="s">
                    <input type="hidden" value="1" name="entry">
                    <input class="swap_value" placeholder="请输入关键词" name="q">
                    <input type="submit" class="submit" name="submit" id="searchsubmit" value="百度">
                </form>
            </div>
            @RenderSection("header", required: false)
            @RenderBody()
            <div class="clear"></div>
            <footer id="footer">
                <div class="site-info">
                    Copyright &copy; 知更鸟  保留所有权利.&nbsp;&nbsp; <span class="info-add">Theme&nbsp;&nbsp;<a title="主题设计：知更鸟" href="http://zmingcx.com" target="_blank">Ality</a>
                        <script>                                                                                                                                        var _hmt = _hmt || [];
                            (function () {
                                var hm = document.createElement("script");
                                hm.src = "//hm.baidu.com/hm.js?e23f8e2a52042baf776f12680f3b7cad";
                                var s = document.getElementsByTagName("script")[0];
                                s.parentNode.insertBefore(hm, s);
                            })();</script>
                        采用 <a title="采用Wopus云主机" href="http://idc.wopus.org/host/yun/">Wopus 云主机</a> <a title="域名注册" href="http://idc.wopus.org/domain/">域名注册</a>
                        <br />
                    </span>
                </div>
                <div id="sidr" style="display: none;">
                    <a id="simple-menu-s" href="#sidr"><i class="icon-close"></i></a>
                    <div class="menu-%e7%a7%bb%e5%8a%a8-container">
                        <ul id="menu-%e7%a7%bb%e5%8a%a8" class="menu">
                            <li id="menu-item-5642" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5642"><a href="http://zmingcx.com/category/wordpress">WordPress</a></li>
                            <li id="menu-item-5961" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5961"><a href="http://zmingcx.com/category/original">原创主题</a></li>
                            <li id="menu-item-5646" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5646"><a href="http://zmingcx.com/category/original/hotnewspor">HotNews主题</a></li>
                            <li id="menu-item-6106" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6106"><a href="http://zmingcx.com/guestbook">最近留言</a></li>
                            <li id="menu-item-5644" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5644"><a href="http://zmingcx.com/category/utility-software">实用软件</a></li>
                            <li id="menu-item-5645" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5645"><a href="http://zmingcx.com/category/webdesign">Web前端</a></li>
                            <li id="menu-item-5643" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5643"><a href="http://zmingcx.com/category/information">网文资讯</a></li>
                            <li id="menu-item-5902" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5902"><a href="http://zmingcx.com/contact">联系方式</a></li>
                            <li id="menu-item-5647" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5647"><a href="http://zmingcx.com/category/skill">实用技巧</a></li>
                            <li id="menu-item-5648" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5648"><a href="http://zmingcx.com/category/photoshop">Photoshop</a></li>
                            <li id="menu-item-5649" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5649"><a href="http://zmingcx.com/category/wpplugins">plugins</a></li>
                            <li id="menu-item-5650" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5650"><a href="http://zmingcx.com/category/gossip">闲言碎语</a></li>
                            <li id="menu-item-5651" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5651"><a href="http://zmingcx.com/category/uidesign">设计资源</a></li>
                            <li id="menu-item-6033" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-6033"><a href="http://zmingcx.com/category/digital">数码硬件</a></li>
                        </ul>
                    </div>
                </div>
                <div id="login">
                    <h1>用户登录</h1>
                    <form action="http://zmingcx.com/wp-login.php?redirect_to=http%3A%2F%2Fzmingcx.com%2Fshielding-wordpress-useless-items.html" method="post" id="loginform">
                        <fieldset id="inputs">
                            <input id="username" type="text" name="log" id="log" placeholder="名称" required>
                            <input id="password" type="password" name="pwd" id="pwd" placeholder="密码" required>
                        </fieldset>
                        <fieldset id="actions">
                            <input type="submit" id="submit" value="登录">
                            <input type="hidden" name="redirect_to" value="/" />
                            <label>
                                <input type="checkbox" name="rememberme" id="modlogn_remember" value="yes" checked="checked" alt="Remember Me">记住登录信息</label>
                        </fieldset>
                    </form>
                </div>
                <ul id="scroll">
                    <li><a class="scroll_t" title="返回顶部"><i class="icon-scroll_t"></i></a></li>
                    <li><a href="#share" id="share-main" title="分享"><i class="icon-share"></i></a></li>
                    <li><a class="scroll_b" title="转到底部"><i class="icon-scroll_b"></i></a></li>
                </ul>
                <div id="share">
                    <h4>分享到：</h4>
                    <div class="bdsharebuttonbox"><a title="分享到QQ空间" href="#" class="icon-qzone" class="bds_qzone" data-cmd="qzone"></a><a title="分享到新浪微博" href="#" class="icon-tsina" class="bds_tsina" data-cmd="tsina"></a><a title="分享到腾讯微博" href="#" class="icon-tqq" class="bds_tqq" data-cmd="tqq"></a><a title="分享到人人网" href="#" class="icon-renren" class="bds_renren" data-cmd="renren"></a><a title="分享到微信" href="#" class="icon-weixin" class="bds_weixin" data-cmd="weixin"></a><a href="#" class="icon-more" class="bds_more" data-cmd="more"></a></div>
                </div>
                <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "1", "bdSize": "16" }, "share": { "bdSize": 16 } }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
            </footer>
        </div>
    </div>
    @RenderSection("footer", required: false)
</body>
</html>
